build --cxxopt='-std=c++2a' --cxxopt='-Wall' --cxxopt='-Werror' --cxxopt='-Wextra' --cxxopt='-Wshadow'

### Kcov coverage build. ###
build:kcov --build_tests_only
build:kcov -c dbg
build:kcov --spawn_strategy=standalone
build:kcov --run_under //tools:kcov
build:kcov --local_test_jobs=1
build:kcov --test_tag_filters=-benchmark,-example
build:kcov --nocache_test_results